/* 
 *   FILE : main.css
 *   
 *   
 *   Created on : Oct 21, 2018, 9:07:24 PM
 *   Author     : noisedriver
 */


/* keep up to date...
@viewport {
  width: device-width ;
  zoom: 1.0 ;
}
*/

@font-face {
    font-family: 'destroy'; /*a name to be used later*/
    src: url('http://noisedriver.com/static/fonts/font.ttf'); /*URL to font*/
}

/*******************************************************************************
 * Main blocks (#header #navigation #content #footer)
 ******************************************************************************/
body {
    /* positioning */
    margin: 0;
    
    /* colours */
    background-color: #ffffff;
    color: #222222;
    
    /* fonts */
    /* https://www.w3schools.com/css/css3_fonts.asp */
    /* https://www.w3schools.com/cssref/css_websafe_fonts.asp */
    font-family: "Arial","Helvetica","sans-serif";
}

#header {
    /* colour */
    background-color: #222222;
    color: #ffffff;
    
    /* test */
    /*border: 3px solid #73AD21;*/
}

#header h1 {
    /* positioning */
    font-size: 300%;
    text-align: center; vertical-align: middle;
    
    /* fonts */
    /*font-family: "Arial", Helvetica, sans-serif;*/
    font-family: 'destroy';
}

#navigation {
    /* fonts */
    font-family: "Arial", Helvetica, sans-serif;
}

#navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0 10% 0 10%;
    overflow: hidden;
    background-color: #222222;
    width: 80%;
}

#navigation li {
    float: left;
}

#navigation li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}

#navigation li a:hover:not(.active) {
    background-color: #ffffff;
    color: #222222;
}

#navigation .active {
    background-color: #ffffff;
    color: #222222;
}

#content {
    /* colour */
    background-color: #ffffff;
    color: #222222;
    
    /* fonts */
    font-family: "Arial", Helvetica, sans-serif;
}

#footer {
    /* colour */
    background-color: #222222;
    color: #ffffff;
    
    /* fonts */
    font-family: "Arial","Helvetica","sans-serif";
    
    /* test */
    /*border: 3px solid #73AD21;*/
}
